
h1{
  text-align: center;
  font-size: xx-large;
}

img{
  display: block;
  margin: 0% auto;
  width: 20%;
  cursor: pointer;
}

input{
  display: block;
  margin: 0% auto;
}

.error-output{
  display: block;
  margin-left: 320px;
  font-size: 14px;
  font-style: italic;
  color: red;
}